@import './components/banner/banner';

.nx-mx-auto.nx-flex:not(.nextra-nav-container) {
  max-width: 100%;
}

article {
  @media (min-width: 697px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

:is([dir=ltr] .ltr\:nx-text-right) {
  display: none;
}

.textbox {
  padding: 25px 25%;
  @media (max-width: 900px) and (min-width: 697px) {
    padding: 25px 50px;
  }
  @media (max-width: 697px) {
    padding: 25px 25px;
  }
}

.bioPic {
  margin: 0 auto;
  max-height: 500px;
  border-radius: 100%;
}