@import './components/banner/banner';
@import './components/projects/project/project';

:root {
  --rainbow: linear-gradient(270deg, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee);
}

.nx-mx-auto.nx-flex:not(.nextra-nav-container) {
  max-width: 100%;
}

article {
  @media (min-width: 697px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

:is([dir=ltr] .ltr\:nx-text-right) {
  display: none;
}

.textAlignJustify {
  text-align: justify;
}

.link {
  transition: 150ms ease-in-out;
  &:hover {
    text-decoration: underline;
  }
}

.textbox {
  padding: 25px 25%;
  @extend .textAlignJustify;
  @media (max-width: 900px) and (min-width: 697px) {
    padding: 25px 50px;
  }
  @media (max-width: 697px) {
    padding: 25px 25px;
  }
}

.bioPic {
  margin: 0 auto;
  max-height: 500px;
  border-radius: 100%;
}

.subtitle {
  font-size: 35px;
  text-align: center;
  margin: 0 auto !important;
}