@import './components/banner/banner';
@import './components/projects/project/project';

:root {
  --rainbowGradient: linear-gradient(hsl(329, 78%, 51%), hsl(20.429, 78%, 51%), hsl(71.857, 78%, 51%), hsl(123.286, 78%, 51%), hsl(174.714, 78%, 51%), hsl(226.143, 78%, 51%), hsl(277.571, 78%, 51%));
  --greenStripesGradientBorder: repeating-linear-gradient(45deg, rgba(208, 208, 208, 0.13) 0px, rgba(208, 208, 208, 0.13) 43px, rgba(195, 195, 195, 0.13) 43px, rgba(195, 195, 195, 0.13) 85px, rgba(41, 41, 41, 0.13) 85px, rgba(41, 41, 41, 0.13) 109px, rgba(88, 88, 88, 0.13) 109px, rgba(88, 88, 88, 0.13) 129px, rgba(24, 24, 24, 0.13) 129px, rgba(24, 24, 24, 0.13) 139px, rgba(92, 92, 92, 0.13) 139px, rgba(92, 92, 92, 0.13) 179px, rgba(37, 37, 37, 0.13) 179px, rgba(37, 37, 37, 0.13) 219px),
  repeating-linear-gradient(45deg, rgba(18, 18, 18, 0.13) 0px, rgba(18, 18, 18, 0.13) 13px, rgba(48, 48, 48, 0.13) 13px, rgba(48, 48, 48, 0.13) 61px, rgba(130, 130, 130, 0.13) 61px, rgba(130, 130, 130, 0.13) 84px, rgba(233, 233, 233, 0.13) 84px, rgba(233, 233, 233, 0.13) 109px, rgba(8, 8, 8, 0.13) 109px, rgba(8, 8, 8, 0.13) 143px, rgba(248, 248, 248, 0.13) 143px, rgba(248, 248, 248, 0.13) 173px, rgba(37, 37, 37, 0.13) 173px, rgba(37, 37, 37, 0.13) 188px),
  repeating-linear-gradient(45deg, rgba(3, 3, 3, 0.1) 0px, rgba(3, 3, 3, 0.1) 134px, rgba(82, 82, 82, 0.1) 134px, rgba(82, 82, 82, 0.1) 282px, rgba(220, 220, 220, 0.1) 282px, rgba(220, 220, 220, 0.1) 389px, rgba(173, 173, 173, 0.1) 389px, rgba(173, 173, 173, 0.1) 458px, rgba(109, 109, 109, 0.1) 458px, rgba(109, 109, 109, 0.1) 516px, rgba(240, 240, 240, 0.1) 516px, rgba(240, 240, 240, 0.1) 656px, rgba(205, 205, 205, 0.1) 656px, rgba(205, 205, 205, 0.1) 722px),
  linear-gradient(90deg, rgb(21, 145, 22), rgb(39, 248, 84));
}

.nx-mx-auto.nx-flex:not(.nextra-nav-container) {
  max-width: 100%;
}

article {
  @media (min-width: 697px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

:is([dir=ltr] .ltr\:nx-text-right) {
  display: none;
}

.textAlignJustify {
  text-align: justify;
}

.link {
  transition: 150ms ease-in-out;
  &:hover {
    text-decoration: underline;
  }
}

.textbox {
  padding: 25px 25%;
  @extend .textAlignJustify;
  @media (max-width: 900px) and (min-width: 697px) {
    padding: 25px 50px;
  }
  @media (max-width: 697px) {
    padding: 25px 25px;
  }
}

.bioPic {
  margin: 0 auto;
  max-height: 500px;
  border-radius: 100%;
}

.subtitle {
  font-size: 35px;
  text-align: center;
  margin: 0 auto !important;
}